.product__container {
    box-sizing: border-box;
    margin: 1.5rem;

    .product__details {
        display: block;
        text-align: left;

        .details__submitted-by {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: rgb(102, 102, 102);
            padding-block: .5rem;
            .avatar__image {
                margin-left: .5rem;
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        .details__score {
            display: flex;

            .score__votes {
                padding-top: 8px;
                color: rgb(6, 6, 7);
                font-weight: 700;
                margin-left: -8px;

            }

            .score__btn {
                border: none;
                background-color: transparent;

                .score__arrow-img {
                    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(180deg) brightness(95%) contrast(80%);
                    ;
                }
            }
        }

        .details__title {
            font-weight: 600;
            margin-block: .5rem;

            .title__link {
                text-decoration: none;
            }
        }

        .details__description {
            text-decoration: solid;
            font-weight: 600;
        }
    }
}